*.iml
.idea
.project
.classpath
.settings
target/
/validator/comparison/output
/pom.xml.versionsBackup
/r5/graphql/*.out
/cda/cda-roundtrip.json
/cda/cda-roundtrip.xml
/r5/fml/*.out
/r5/gen/simple.json.out
/r5/gen/unicode.out.xml
/r5/openapi/swagger-base.json
/r5/openapi/swagger-base2.json
/zuliprc
/r4/graphql/*.out
/r5/snapshot-generation/*.bak
/cda/cda-original.out.xml
/validator/*.bak
