<h3>{{ title }}</h3>

<p>{{ description }}</p>

<table>
  <tr>
    <td><b>Version</b></td>   
    <td><b>Notes</b></td>   
  </tr>
  {% for v in versions %}
  <tr>
    <td>{{ v.version }}</td>   
    <td>{{ v.markdown || markdownify }}</td>   
  </tr>
  {% endfor %}
</table>
